*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #231e1a;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #231e1a;
}
.App{
    width: 100%;
    padding-bottom: 10%;
    background-color: #f9f0e9;
}